.poster-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap !important;
    margin: 0 20px !important;
    height: 250px;
}

.poster-scroll::-webkit-scrollbar {
    display: none;
}

.poster {
    margin: 20px 10px;
    border: none !important;
    height: 200px;
    min-width: 140px !important;
    width: 100%;
    transition: 300ms;
}

.poster:hover {
    transform: scale(1.2);
}
